.content
  .container
    .form-effects.form-margins
      .row
        .offset1.span11
          %h1 Please connect one blog to Wezolo
          - @blogs.each do |blog|
            .blog-choice
              =form_for Blog.new, :url => url_for(:controller => 'tumblr', :action => 'create_blog_and_posts') do |f|
                %h5= blog["title"]
                %p= blog["description"]
                = f.hidden_field :url, {:value => blog["url"]}
                = f.hidden_field :title, {:value => blog["title"]}
                = f.hidden_field :external_id, {:value => blog["name"]}
                = hidden_field :blog_host, "name", {:value => "tumblr" }
                = f.submit "Connect this blog", :class => "btn btn-primary"
