= form_for profile do |f|
  = f.label :location
  = f.text_field :location
  = f.label :bio
  = f.text_field :bio
  = f.fields_for :user do |u_f|
    = u_f.text_field :status
  #submit_button= f.submit "Confirm"
