.content
  .container.green-full-width
    %h1 User settings
    = form_for @user, :url => update_password_users_path, :method => :put do |f|
      / = f.label :status
      / = f.select :status, [['Interested in Peace Corp','interested'],['PCV (Peace Corps Volunteer)','PCV'],['RPCV (Returned Peace Corps Volunteers','RPCV']], {:include_blank => true, :required => true}
      / = f.label :email 
      / = f.email_field :email, :required => true
      = f.label :current_password
      = f.password_field :current_password, :required => true
      = f.label :password
      = f.password_field :password, :required => true
      = f.label :password_confirmation
      = f.password_field :password_confirmation, :required => true
      = f.submit "Save updates to my Account"
