.content
  .container.green-full-width
    .form-effects.form-margins
      %h1 User settings
      = form_for @user, :url => update_password_users_path, :method => :put do |f|
        .messages
        - if flash[:error]
          %p= flash[:error]
        - if flash[:notice]
          %p= flash[:notice]
        = f.label :current_password
        = f.password_field :current_password, :required => true
        = f.label :password
        = f.password_field :password, :required => true
        = f.label :password_confirmation
        = f.password_field :password_confirmation, :required => true
        = f.submit "Save updates to my Account"
