.content
  .container
    .form-effects.form-margins
      .row
        .offset1.span11
          %h3= @user.name
        .offset1.span3
          = image_tag avatar_url(@user), :class => "img-polaroid bottom-spacer"
        .span7.profile
          %table.table
            %tr.info
              %th Basic Info
              %th.align-right
                - if can? :update, @user.profile
                  = link_to "Edit", "#basic-edit-info-modal", {"data-toggle" => "modal"}
            %tr
              %td.small Last login: 
              %td.large 
            %tr
              %td Status: 
              %td 
                .user-info
                  = @user.status
            %tr
              %td Location:
              %td  
                .user-info
                  = @user.profile.location
            %tr  
              %td Bio:
              %td  
                .user-info
                  = @user.profile.bio
      .row
        .offset1.span3
          %table.table
            %tr.following
              %th Following
          .thumbnails
            - @user.heroes.each do |hero| 
              = image_tag avatar_url(hero), :alt => hero.name, :class => "thumbnail"
        .span7.profile
          %table.table
            %tr.info
              %th Service Details
              %th.align-right
                - if can? :add_involvement, @user
                  = link_to "Add", "#service-details-add-modal", {"data-toggle" => "modal"}
          -unless @user.involvements.empty?
            - @user.involvements.each do |i|
              %hr
              %table.table
                %tr
                  %td.small Country:
                  %td.large
                    .user-info
                      = i.country.name if i.country
                %tr
                  %td Description: 
                  %td
                    .user-info
                      = i.description
                %tr
                  %td Sector: 
                  %td
                    .user-info
                      = i.sector
                %tr
                  %td Start Date:
                  %td
                    .user-info
                      = i.start_date
                %tr
                  %td End Date:
                  %td
                    .user-info
                      = i.end_date
        .widgets
          = render "/layouts/modal", :title => "Basic Info", :id => "basic-edit-info-modal", :body => render("profiles/form", :profile => @user.profile)
          = render "/layouts/modal", :title => "Add New Service Details", :id => "service-details-add-modal" , :body => render("involvements/form", :involvement => Involvement.new)

