.content
  .container
    .form-effects.form-margins
      .row
        .offset1.span6
          %h3= @user.name
        .offset2.span2
          - unless current_user == @user
            .pull-right.btn.btn-info.btn-small= current_user.follow_link(@user.object)
      .row.bottom-spacer
        .offset1.span3
          = image_tag avatar_url(@user), :class => "avatar img-polaroid bottom-spacer"
          - if current_user == @user
            %a#upload{:href => "#"} Upload/Change profile pic
        .span7.profile
          %table.table
            %tr.info
              %th Basic Info
              %th.align-right
                - if can? :update, @user.profile
                  = link_to "Edit", "#basic-edit-info-modal", {"data-toggle" => "modal"}
            %tr
              %td Status:
              %td
                .user-info
                  = User.statuses_hash[@user.status]
            %tr
              %td Phone:
              %td
                .user-info
                  = @user.phone_number
            %tr
              %td Location:
              %td
                .user-info
                  = @user.profile.location
            %tr
              %td Bio:
              %td
                .user-info
                  = @user.profile.bio
      .row
        .offset1.span3
          %table.table
            %tr.following
              %th Following
          .thumbnails
            - @user.heroes.each do |hero|
              = link_to((image_tag avatar_url(hero), :title => hero.name, :class => "thumbnail"), hero)
        .span7.profile
          %table.table
            %tr.info
              %th{:colspan => 3} Connect Your Blog
            %tr
              %td
                Blogger:
                = @user.display_blog_section "blogger"
            %tr
              %td
                Tumblr:
                = @user.display_blog_section "tumblr"
      .row
        - if @user.status != "interested"
          .offset4.span7.profile#service-details
            %table.table
              %tr.info
                %th Service Details
                %th.align-right
                  - if can? :add_involvement, @user
                    = link_to "Add", "#service-details-add-modal", {"data-toggle" => "modal"}
            -unless @user.involvements.empty?
              - @user.involvements.order("end_date DESC").each_with_index do |i, index|
                = render :partial => "layouts/error"
                %table.table
                  %tr
                    %td
                    %td.pull-right
                      - if can? :update, i
                        =link_to "Edit", "#service-details-edit-modal-" + index.to_s, {"data-toggle" => "modal"}
                        ="#{" | "}"
                        =link_to("Delete", involvement_path(i), :method => :delete, :confirm => "Are you sure you want to delete these service details?", :class => "alert-heading")
                        .widgets= render "/layouts/modal", :title => "Edit Service Details", :id => "service-details-edit-modal-"+index.to_s , :body => render("involvements/form", :involvement => i)
                  %tr
                    %td.small Country:
                    %td.large
                      .user-info
                        = i.country.name if i.country
                  %tr
                    %td Description:
                    %td
                      .user-info
                        = i.description
                  %tr
                    %td Sector:
                    %td
                      .user-info
                        = i.sector
                  %tr
                    %td Start Date:
                    %td
                      .user-info
                        = date_to_year(i.start_date)
                  %tr
                    %td End Date:
                    %td
                      .user-info
                        = date_to_year(i.end_date)
                %hr


.widgets
  - if can? :update, @user.profile
    = render "/layouts/modal", :title => "Basic Info", :id => "basic-edit-info-modal", :body => render("profiles/form", :profile => @user.profile)
  - if can? :add_involvement, @user
    = render "/layouts/modal", :title => "Add New Service Details", :id => "service-details-add-modal" , :body => render("involvements/form", :involvement => Involvement.new)
  = render "/layouts/modal", :title => "Confirm Blog", :id => "confirm-blog-modal", :body => "", :blogs => @blogs




