.content
  .container
    .form-effects.form-margins
      .row
        .offset1.span6
          %h3= @user.name
        .offset2.span2
          - unless current_user == @user
            .pull-right.btn.btn-info.btn-small= current_user.follow_link(@user.object)
      .row
        .offset1.span3
          = image_tag avatar_url(@user), :class => "img-polaroid bottom-spacer"
        .span7.profile
          %table.table
            %tr.info
              %th Basic Info
              %th.align-right
                - if can? :update, @user.profile
                  = link_to "Edit", "#basic-edit-info-modal", {"data-toggle" => "modal"}
            %tr
              %td.small Last login: 
              %td.large 
            %tr
              %td Status: 
              %td 
                .user-info
                  = User.statuses_hash[@user.status]
            %tr  
              %td Phone:
              %td  
                .user-info
                  = @user.phone_number
            %tr
              %td Location:
              %td  
                .user-info
                  = @user.profile.location
            %tr  
              %td Bio:
              %td  
                .user-info
                  = @user.profile.bio                  
      .row
        .offset1.span3
          %table.table
            %tr.following
              %th Following
          .thumbnails
            - @user.heroes.each do |hero|
              = link_to((image_tag avatar_url(hero), :title => hero.name, :class => "thumbnail"), hero)
        - if @user.status != "interested"
          .span7.profile
            %table.table
              %tr.info
                %th Service Details
                %th.align-right
                  - if can? :add_involvement, @user
                    = link_to "Add", "#service-details-add-modal", {"data-toggle" => "modal"}
            -if @user.involvements.present?
              - @user.involvements.each_with_index do |i, index|
                %table.table
                  %tr
                    %td
                    %td.pull-right
                      - if can? :update, i
                        =link_to "Edit", "#service-details-edit-modal-" + index.to_s, {"data-toggle" => "modal"}
                        .widgets= render "/layouts/modal", :title => "Edit Service Details", :id => "service-details-edit-modal-"+index.to_s , :body => render("involvements/form", :involvement => i)
                  %tr
                    %td.small Country:
                    %td.large
                      .user-info
                        = i.country.name if i.country
                  %tr
                    %td Description: 
                    %td
                      .user-info
                        = i.description
                  %tr
                    %td Sector: 
                    %td
                      .user-info
                        = i.sector
                  %tr
                    %td Start Date:
                    %td
                      .user-info
                        = date_to_year(i.start_date)
                  %tr
                    %td End Date:
                    %td
                      .user-info
                        = date_to_year(i.end_date)
                %hr
      .row
        .offset4.span7.profile
          %table.table
            %tr.info
              %th{:colspan => 3} Connect Your Blog
            %tr
              %td 
                Blogger:
                = @user.blog_connect "blogger"
            %tr  
              %td 
                Tumblr:
                = @user.blog_connect "tumblr"
.widgets
  - if can? :update, @user.profile
    = render "/layouts/modal", :title => "Basic Info", :id => "basic-edit-info-modal", :body => render("profiles/form", :profile => @user.profile)
  - if can? :add_involvement, @user
    = render "/layouts/modal", :title => "Add New Service Details", :id => "service-details-add-modal" , :body => render("involvements/form", :involvement => Involvement.new)
  = render "/layouts/modal", :title => "Confirm Blog", :id => "confirm-blog-modal", :body => "", :blogs => @blogs


  

