.content
  .container
    .well.sidebar-nav
    %ul.nav.nav-list
      %h3.nav-header Filter feed
      %li
        = link_to "Users You Follow", "/home"
  
      %li
        %p Post by Peace Corp Status
      %li
        = link_to "Current Peace Corp Member", home_path(query_string: "PCV", :query_type => "status")
      %li
        = link_to "Returned Peace Corp Member", home_path(query_string: "RPCV", :query_type => "status")
      %li
        = link_to "Interested Peace Corp Member", home_path(query_string: "Interested", :query_type => "status")
      %li
        %p Select by Country of Involvement
      %li
        = select "query", "country_id", Country.all.map {|c| [c.name, c.id]}, {:include_blank => true, :prompt => 'Select a Country'}, {:class => "country-filter"}
      %li
        %p Post by Sector of Involvement
      - ['ICT', 'Health', 'Agriculture', 'Community Development', 'Education'].each do |sector_name|
        %li= link_to sector_name, home_path(query_string: sector_name, :query_type => "sector")
    %h1 What's Going On?
    -@newsfeed.each do |post|
      %p status:
      %p= post.blog.user.status

      %p country:
      -post.blog.user.involvements.each do |inv|
        = inv.country.name

      %p sector:
      -post.blog.user.involvements.each do |inv| 
        = inv.sector


      / %h3=post.title
      / %p=post.body.html_safe

/ 5 ~ 10 ms
