%body
  .landing-container
    .error-notice
      - if flash[:notice]
        = flash.now[:notice]
    .container
      .carousel-caption
        %h1 Live The Peace Corps Life
        %p.lead Welcome to Wezolo, where you can connect with past, present and future Peace Corps volunteers! We're a family, so let's help each other.
        =link_to "Sign up today", "#signupModal", {"data-toggle" => "modal", :class => "btn btn-large btn-primary"}
      .row.pagination-centered.top-spacer
        %a{:href => "#bottom"}
          = image_tag "down-arrow.png", :class => "img-circle"
  .container.marketing.top-spacer#bottom
    .row
      .span4
        = image_tag "discover.jpg", :class => "img-circle"
        %h2 Discover
        %p Thinking of joining the Peace Corps? Check out our "What's Going On?" feed. Our feed is populated by our users Blogger/Blogspot and Tumblr blogs. Everything in one place. BOOM!
        %p
      .span4
        = image_tag "connect.jpg", :class => "img-circle"
        %h2 Connect
        %p Easily search for other users by name, country of service, and sector. Make new friends and/or find your old buddies. WATDATDATDATDATDUKEN!
        %p
      .span4
        = image_tag "nokia.jpg", :class => "img-circle"
        %h2 Communicate
        %p Stuck in village with no data network? Check out our SMS tool that lets you send a question to our site via text messaging. When users respond to your question, you'll get the responses via SMS. BOOYAH!
        %p
    %footer.top-spacer
      %p.pull-right
        %a{:href => "#"} Back to top
      %p
        © 2013 Peace Mafia ·
        %a{:href => "#"} Privacy
        ·
        %a{:href => "#"} Terms
        ·
        =link_to "About", about_path
        | Cover photo by
        %a{:href => "mailto:sworthington@gmail.com"} Scott Worthington
        |
        %a{:href => "mailto:contact@wezolo.com"} Email us

