= form_for involvement do |f|
  = f.label :country_id
  = f.collection_select :country_id, Country.all, :id, :name, {:prompt => true}, {:required => true}
  = f.label :description
  = f.text_area :description, :rows => 10, :required => true
  = f.label :sector
  = f.select :sector, Involvement.sectors.map(&:titleize), {:prompt => true}, {:required => true}
  = f.label :start_date
  = f.text_field :start_date, {:class => "datepicker", :required => true}
  = f.label :end_date
  = f.text_field :end_date, {:class => "datepicker", :required => true}
  #submit_button= f.submit "Confirm", :class => "btn btn-primary"
